<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Personal TV Guide</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/jquery")

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/jquery.dataTables.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery.dataTables.min.js")

        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink( " ", "Index", "Home", 
                                                            new { 
                                                            style = "background: url('" + Url.Content("~/images/ptvgLiekele.net.png") + "') no-repeat center right; display:block; height:84px; width:264px;" 
                                                            }  )</p> 
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    @*</section>*@
                    <nav>
                        <ul id="menu">
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.ActionLink("Dashboard", "Index", "Dashboard");  
                                }
                                else
                                {
                                    @Html.ActionLink("Home", "Index", "Home")
                                }
                            </li>
                            <li>
                                 @if (User.Identity.IsAuthenticated)
                                 {
                                    @Html.ActionLink("Shoutbox", "index", "Chat")
                                 }
                            </li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

         <div id="sidebar">
            @RenderSection("SideBar", required : false)
            @*@if (Model.LstShoutboxDisplay.Count != 0)
            {
                foreach (var t in Model.LstShoutboxDisplay)
                {
                    <p>@t.UserName - @t.DateAndTime <br /> @t.Text </p>
                    <hr />   
                }
            }*@
        </div>
        
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Frank</p>
                </div>
            </div>
        </footer>
    </body>
</html>
