@using PersonalTVGuide.Models
@model SerieInfoAndEpisodes
@{
    ViewBag.Title = "Serie details";
}

<script type="text/javascript">
    function cbOnClick(serieId, episodeId) {
        var url = '@Html.Raw(Url.Action("GetShowDetails", "Dashboard", new { serieId = "par1", episodeId = "par2" }, null))';
        url = url.replace("par1", serieId);
        url = url.replace("par2", episodeId);
        window.location = url;
    }

    //The sorting for the Date column in form dd-MM-yyyy
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-uk-pre": function (a) {
            var ukDatea = a.split('-');
            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        },

        "date-uk-asc": function (a, b) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },

        "date-uk-desc": function (a, b) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }
    });

    function setupDataTable() {
        $('#productsTable').dataTable({
            "aaSorting": [[0, "asc"]],
            "bAutoWidth": false,
            "iDisplayLength": 20,
            "aoColumnDefs": [{ "sType": "date-uk", "aTargets": [3] }],
            "aoColumns": [
                /* Seizoen */   null,
                /* Nummer */    null,
                /* Naam */      null,
                /* Datum */     null]
        });
    }

    function pageLoad(sender, args) {
        if (args.get_isPartialLoad()) {
            setupDataTable();
        }
    }

    $(document).ready(function () {
        setupDataTable();
    });
</script>

<div style="width: 800px;">
    <div style="float:left"> 
        <h2>Serie</h2> <br />   
        <b>Serienaam:</b> @Model.Serie.SerieName <br />
        <b>Aantal Seizoenen:</b> @Model.Serie.SerieSeasonCount <br />
        <b>Duur van aflevering:</b> @Model.Serie.Runtime minuten<br />
        <b>Start Jaar:</b> @Model.Serie.Year <br />
        <b>Status:</b> @Model.Serie.status <br />
    </div>
    <div style="float:right">
        <img src="@Url.Content(Model.Serie.IMG_url)" alt="@Model.Serie.SerieName" style="height: 300px" />
    </div>
    <div style="clear: both"></div>
</div>
<br />
<hr />
<h2>Afleveringen</h2>
<br />
@if (Model.Episodes.Count != 0)
{
    <div style="width: 800px;">
	    <table id="productsTable">
		    <thead>
			    <tr>
			        <th style="width: 15px;">Seizoen</th>
			        <th style="width: 30px;">Nummer</th>
			        <th>Naam</th>
			        <th style="width: 100px;">Uitzenddatum</th>
                    <th style="width: 15px;">Gezien</th>
			    </tr>
		    </thead>
		    <tbody>
                @foreach (var ep in Model.Episodes)
                {
                    <tr>
                        <td>@ep.Season</td>
                        <td>@ep.EpisodeNR</td>
                        <td>@ep.EpisodeName</td>
                        <td>@String.Format("{0:d}", ep.Airdate)</td>

                        @if (Model.CheckedEpisodes.FirstOrDefault(c => c.UserId == WebSecurity.CurrentUserId && c.EpisodeId == ep.EpisodeId) != null)
                        {
                            <td>@Html.CheckBox("cb" + ep.EpisodeId, true, new {onclick = "cbOnClick(" + ep.SerieId + ", " + ep.EpisodeId + ")"})</td>
                        }
                        else
                        {
                            <td> @Html.CheckBox("cb" + ep.EpisodeId, false, new {onclick = "cbOnClick(" + ep.SerieId + ", " + ep.EpisodeId + ")"})</td>
                        }                       
                    </tr>
                }
		    </tbody>
	    </table>
    </div>  
}
else
{
    <div>
        Er zijn geen afleveringen beschikbaar voor @Model.Serie.SerieName!
    </div>
}      
<br />
@using (Html.BeginForm("Update", "Dashboard", FormMethod.Post))
            {
                <input type="hidden" name="hiddenShowId" id="hiddenShowId" value="@Model.Serie.SerieId" />
                <input type="submit" value="update" />
            } 
@ViewBag.ShowErrorMsg  