@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<p>
    Voeg nieuwe serie toe aan je favorieten:<br />

    @using (Html.BeginForm("SearchShow", "Dashboard", FormMethod.Post))
    {
        @Html.TextBox("searchResult")
            
        <input type="submit" value="Zoek" />
    }
    @if (Convert.ToInt32(ViewBag.ShowCount) > 0)
    { 
        <br />
        using (Html.BeginForm("GetShowDetails", "Dashboard", FormMethod.Post))
        {
            @Html.DropDownList("ddlShows")

            <input type="submit" value="Opslaan" />
            
            @ViewBag.ShowCount;
        }
    }
    @ViewBag.ShowErrorMsg
    @if (ViewBag.serie != null)
    {
        using (Html.BeginForm("Favorite", "Dashboard", FormMethod.Post))
        {
        <p>Serienaam</p>
        @ViewBag.serie.SerieName <br />
        <p>Aantal Seizoenen</p> <br />
        @ViewBag.serie.SerieSeasonCount <br />
        <p>Duur van aflevering</p> 
        @ViewBag.serie.Runtime <br />
        <p>Start Jaar</p> <br />
        @ViewBag.serie.SerieName <br />
        <p>Status</p>
        @ViewBag.serie.status <br />
        
        
        <input type="submit" value="Favoriet" />
        }

    }
    
</p>