@model PersonalTVGuide.Models.SerieInfoAndEpisodes
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div>
    
    @if (Model.Episodes.Count != 0)
    {
        
        <b>Vandaag</b>
       foreach (var ep in Model.Episodes)
       {
           if(ep.Airdate == DateTime.Now.Date)
                {
                    <p>  *serieNaam* S @ep.Season E @ep.EpisodeNR</p>                     
                }
       }
            
       
        <b>Morgen</b>
        foreach (var ep in Model.Episodes)
       {
           if(ep.Airdate == DateTime.Now.Date.AddDays(1))
                {
                    <p>  *serieNaam* S @ep.Season E @ep.EpisodeNR</p>                     
                }
       }
            
    }


    Voeg nieuwe serie toe aan je favorieten:<br />

    @using (Html.BeginForm("SearchShow", "Dashboard", FormMethod.Post))
    {
        @Html.TextBox("searchResult")
            
        <input type="submit" value="Zoek" />
    }
    @if (Convert.ToInt32(ViewBag.ShowCount) > 0)
    { 
        <br />
        using (Html.BeginForm("GetShowDetailsForDB", "Dashboard", FormMethod.Post))
        {
            @Html.DropDownList("ddlShows")

            <input type="submit" value="Opslaan" />
            
            @ViewBag.ShowCount;
        }
    }
    @ViewBag.ShowErrorMsg
    <br /><br />
    <div style="width: 500px;">
        @if (ViewBag.serie != null)
        {
            using (Html.BeginForm("Favorite", "Dashboard", FormMethod.Post))
            {
            <div style="float:left">    
                <b>Serienaam:</b> @ViewBag.serie.Name <br />
                <b>Aantal Seizoenen:</b> @ViewBag.serie.Seasons.Count <br />
                <b>Duur van aflevering:</b> @ViewBag.serie.Runtime <br />
                <b>Start Jaar:</b> @ViewBag.serie.Started <br />
                <b>Status:</b> @ViewBag.serie.Status <br />
                @foreach (var y  in @ViewBag.serie.Seasons)
                {
                    @y.SeasonNumber<br />
                }
            </div>
            <div style="float:right">
                <img src="@Url.Content(ViewBag.serie.ImageUrl)" alt="@ViewBag.serie.Name" style="height: 110px" />
            </div>
            <div style="clear: both" />
            <div style="float: right">
                <input type="hidden" name="hiddenShowId" id="hiddenShowId" value="@ViewBag.serie.ShowId" />
                <input type="submit" value="Maak Favoriet" />
                @Html.ActionLink("Details", "GetShowDetails", new { id=@ViewBag.serie.ShowId }) 
            </div>
            }
        }
    </div>
</div>
    
