@model PersonalTVGuide.Models.ListSerieInfoAndEpisode
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function setupDataTables() {
        $('#vandaagTable').dataTable({
            "oLanguage": {
                "sEmptyTable": "Er zijn geen nieuwe afleveringen vandaag"
            },
            "aaSorting": [[0, "asc"]],
            "bAutoWidth": false,
            "iDisplayLength": 20,
            "aoColumns": [
            /* Show */      null,
            /* Season */    null,
            /* Nummer */    null,
            /* Naam */      null]
        });

        $('#morgenTable').dataTable({
            "oLanguage": {
                "sEmptyTable": "Er zijn geen nieuwe afleveringen morgen"
            },
            "aaSorting": [[0, "asc"]],
            "bAutoWidth": false,
            "iDisplayLength": 20,
            "aoColumns": [
            /* Show */      null,
            /* Season */    null,
            /* Nummer */    null,
            /* Naam */      null]
        });
    }

    function pageLoad(sender, args) {
        if (args.get_isPartialLoad()) {
            setupDataTables();
        }
    }

    $(document).ready(function () {
        setupDataTables();
    });
</script>

<h2>Dashboard</h2>
<div>
    
    {
    <div style="width: 1080px;">
        <div style="float:left; width:520px;"> 
            <h3>Vandaag</h3> <br />  
            <table id="vandaagTable">
		        <thead>
			        <tr>
                        <th>Show</th>
			            <th style="width: 15px;">Seizoen</th>
			            <th style="width: 30px;">Nummer</th>
			            <th>Naam</th>
			        </tr>
		        </thead>
		        <tbody>

                    @foreach (var ep in Model.LstSerieInfoAndEpisode)
                    {
                        
                        if(ep.EpisodeAirdate == DateTime.Now.Date)
                        {
                        <tr>
                            <td>@ep.SerieName</td>
                            <td>@ep.EpisodeSeasonNr</td>
                            <td>@ep.EpisodeNr</td>
                            <td>@ep.EpisodeName</td>
                        </tr>
                        }
                        
                        
                    }
		        </tbody>
	        </table>
        </div>
        <div style="float:right; width:520px;">
            <h3>Morgen</h3><br />   
            <table id="morgenTable">
		        <thead>
			        <tr>
                        <th>Show</th>
			            <th style="width: 15px;">Seizoen</th>
			            <th style="width: 30px;">Nummer</th>
			            <th>Naam</th>
			        </tr>
		        </thead>
		        <tbody>
                    @foreach (var ep in Model.LstSerieInfoAndEpisode)
                    {
                        if (ep.EpisodeAirdate == DateTime.Now.Date.AddDays(1))
                        {
                        <tr>
                            <td>@ep.SerieName</td>
                            <td>@ep.EpisodeSeasonNr</td>
                            <td>@ep.EpisodeNr</td>
                            <td>@ep.EpisodeName</td>
                        </tr>
                        }
                    }
		        </tbody>
	        </table>
        </div>
        <div style="clear: both" />
    </div>
    <br />
    <hr />
    

@*    @if (Model.Episodes.Count != 0)
    {
        
        <b>Vandaag</b>
       foreach (var ep in Model.Episodes)
       {
           if(ep.Airdate == DateTime.Now.Date)
                {
                    <p>  *serieNaam* S @ep.Season E @ep.EpisodeNR</p>                     
                }
       }
            
       
        <b>Morgen</b>
        foreach (var ep in Model.Episodes)
       {
           if(ep.Airdate == DateTime.Now.Date.AddDays(1))
                {
                    <p>  *serieNaam* S @ep.Season E @ep.EpisodeNR</p>                     
                }
       }
            
    }*@


    Voeg nieuwe serie toe aan je favorieten:<br />

    @using (Html.BeginForm("SearchShow", "Dashboard", FormMethod.Post))
    {
        @Html.TextBox("searchResult")
            
        <input type="submit" value="Zoek" />
    }
    @if (Convert.ToInt32(ViewBag.ShowCount) > 0)
    { 
        <br />
        using (Html.BeginForm("GetShowDetailsForDB", "Dashboard", FormMethod.Post))
        {
            @Html.DropDownList("ddlShows")

            <input type="submit" value="Opslaan" />
            
            @ViewBag.ShowCount;
        }
    }
    @ViewBag.ShowErrorMsg
    <br /><br />
    <div style="width: 500px;">
        @if (ViewBag.serie != null)
        {
            using (Html.BeginForm("Favorite", "Dashboard", FormMethod.Post))
            {
            <div style="float:left">    
                <b>Serienaam:</b> @ViewBag.serie.Name <br />
                <b>Aantal Seizoenen:</b> @ViewBag.serie.Seasons.Count <br />
                <b>Duur van aflevering:</b> @ViewBag.serie.Runtime <br />
                <b>Start Jaar:</b> @ViewBag.serie.Started <br />
                <b>Status:</b> @ViewBag.serie.Status <br />
                @foreach (var y  in @ViewBag.serie.Seasons)
                {
                    @y.SeasonNumber<br />
                }
            </div>
            <div style="float:right">
                <img src="@Url.Content(ViewBag.serie.ImageUrl)" alt="@ViewBag.serie.Name" style="height: 110px" />
            </div>
            <div style="clear: both" />
            <div style="float: right">
                <input type="hidden" name="hiddenShowId" id="hiddenShowId" value="@ViewBag.serie.ShowId" />
                <input type="submit" value="Maak Favoriet" />
                @Html.ActionLink("Details", "GetShowDetails", new { id=@ViewBag.serie.ShowId }) 
            </div>
            }
        }
    </div>
</div>
    
