@model PersonalTVGuide.Models.Episode
@model PersonalTVGuide.Models.Serie
@{
    ViewBag.Title = "Serie";
}

<h2>Serie</h2>
    <div class="display-label">
         @Html.DisplayNameFor(s => s.SerieName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(s => s.SerieName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(s => s.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(s => s.Year)
    </div><div class="display-label">
         @Html.DisplayNameFor(s => s.SerieSeasonCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(s => s.SerieSeasonCount)
    </div><div class="display-label">
         @Html.DisplayNameFor(s => s.Runtime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(s => s.Runtime)
    </div><div class="display-label">
         @Html.DisplayNameFor(s => s.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(s => s.status)
    </div><div class="display-label">
         @Html.DisplayNameFor(s => s.SerieName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(s => s.SerieName)
    </div><div class="display-label">
         @Html.DisplayNameFor(s => s.SerieName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(s => s.SerieName)
    </div>