@model PersonalTVGuide.Models.UserProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Edit Form</legend>

        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.UserName)

        <ol>
         
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m=> m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m=> m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m=> m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.AvatarUrl)
                @Html.TextBoxFor(m => m.AvatarUrl)
                @Html.ValidationMessageFor(m=> m.AvatarUrl)
            </li>
         </ol>
     </fieldset>
    <input type="submit" value="Save" />
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}