@model PersonalTVGuide.Models.UserProfile

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<fieldset>
    <legend>Profile</legend>
    <div style="width: 1080px;">
        <div style="float:left; width:400px;"> 
            <div class="display-label">
                @Html.HiddenFor(model => model.UserId)
            </div>
            <b>Username:</b> @Model.UserName <br />
            <b>Email:</b> @Model.Email <br />
            <b>Voornaam:</b> @Model.FirstName<br />
            <b>Achternaam:</b> @Model.LastName<br />
            @{var temp = Model.NotificationFreq == 0 ? "Dagelijks" : "Wekelijks"; }
            <b>Mail Notificatie:</b> @temp <br /> 
            <b>Laatste login:</b> @Model.LastOnline<br />
   
            @if(Model.AvatarUrl != null)
            {
                <img src="@Url.Content(Model.AvatarUrl)" alt="Avatar" style="height: 100px" /> <br />
            }
    
             @Html.ActionLink("Wachtwoord veranderen", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
             @Html.ActionLink("Gegevens aanpassen", "Edit", new { id=Model.UserId }) 
        </div>
        <div style="float:left; width:500px;"> 
            <b>Favorieten</b><br />
            <div style="width: 500px;">
	            <table id="productsTable">
		            <thead>
			            <tr>
			                <th style="width: 300px;">Naam</th>
			                <th style="width: 30px;"></th>
			                <th style="width: 30px;"></th>
			            </tr>
		            </thead>
                    <tbody>
                   @foreach (var s in ViewBag.Favseries)
                   {
                       <tr>
                                <td>@s.SerieName</td>
                                <td>@Html.ActionLink("Details", "GetShowDetails", "Dashboard", new { id=s.SerieId }, null)</td>
                                <td>@Html.ActionLink("Delete", "Delete", new { id=s.UhasSID },new { onclick = "return confirm('Weet u zeker dat u deze serie wilt verwijderen?');" })</td>
                        
                            </tr>
                
                 
                   }   
                   </tbody>
                </table>
            </div>
        </div>
    </div>
</fieldset>
